/obj
/bin
/.vs
/Installer/Deploy
/Installer/ClickPasteInstaller/bin
/Installer/ClickPasteInstaller/obj
/Installer/ClickPasteInstallerMM/bin
/Installer/ClickPasteInstallerMM/obj
ClickPaste.csproj.user
