<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClickPaste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SendKeys" value="SendInput" />
  </appSettings>
  <userSettings>
    <ClickPaste.Properties.Settings>
      <setting name="TypeMethod" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RunElevated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeyDelayMS" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="HotKey" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="HotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StartDelayMS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConfirmOver" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Confirm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotKeyMode" serializeAs="String">
        <value>0</value>
      </setting>
    </ClickPaste.Properties.Settings>
  </userSettings>
</configuration>