<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="UI">
			<!-- See http://wix.sourceforge.net/manual-wix3/WixUI_index.htm for more information-->
			<UIRef Id="WixUI_FeatureTree"/>
			<Publish Dialog="ExitDialog"
			Control="Finish"
			Event="DoAction"
			Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
	</Fragment>
</Wix>